/* style.css */

.main{
    width:100%;
    max-width:1200px;
    height:4000px;
    background-color: black;
    margin:0 auto;
    position:relative;
}


header{
    width:100%;
    height:100px;
    background-color:#282828;
    position:absolute;
    top:0px;
    left:0px;
}

.header_caption{width:30%;
    position: absolute;
    left:0px;
    top:0px;
    height:30px;
    padding-top: 30px;
    padding-bottom: 25px;
    color:#C3AEAE;
    text-align:center;
    font-size:28px;
    font-style:italic;
}

nav{width:70%;
    position: absolute;
    left:40%;
    top:0px;
}


li{display:inline-block;
    margin:20px;
    font-size:20px;
}

a{text-decoration:none;
color:white;}


.main_image{width:100%;
    height:650px;
    position: absolute;
    top:100px;
    left:0px;
}

.main_image>img{
    width:100%;
}


.text{
    width:30%;
    height:50px;
    position:absolute;
    top:300px;
    left:60%;
    font-size:40px;
    font-style:italic;
    font-family:Monotype Corsiva;
    color:#970808;

}



.info{
    width:50%;
    height:100px;
    position:absolute;
    top:360px;
    left:40%;
    font-size:40px;
    color:white;
    text-transform: uppercase;
    text-align:center;
    font-weight:bold;
    font-family: Garamond;

}

.text{
    width:30%;
    height:50px;
    position:absolute;
    top:300px;
    left:60%;
    font-size:40px;
    font-style:italic;
    font-family:Monotype Corsiva;
    color:#970808;

}


.visitors_info{
    width:100%;
    height:100px;
    position:absolute;
    top:735px;
    left:0px;
    background-color: #6B2B2B;
   
}


.info1{width:33%;
    height:50px;
    float:left;
    padding-top: 35px;
    padding-bottom: 25px;
    text-align: center;
    color:white;
    font-size:20px;
    font-weight:bold;
    font-family: Garamond;
}


.image_2{
    width:52%;
    height:500px;
    position:absolute;
    top:835px;
    left:0px;
   
}

.image_2>img{
    width:100%;
}


.our_history{
    width:45%;
    height:500px;
    position:absolute;
    top:905px;
    left:48%;
}

.history_caption{
    width:100%;
    height:40px;
    text-align:center;
    font-family:Monotype Corsiva;
    color:#970808;
    font-size:36px;
    margin-top:20px;
    font-weight: bold;

}


.info2{
    width:90%;
    height:300px;
    margin:5%;
    text-align: justify;
    font-size:22px;
    line-height: 35px;
    text-indent:15px;
    color:white;
    font-family: Garamond;
}



.rectangle{
    width:45%;
    height:500px;
    position:absolute;
    top:905px;
    left:48%;
    background-color: #6B2B2B;
    opacity:0.3;
}




.visitors_info1{
    width:100%;
    height:100px;
    position:absolute;
    top:1470px;
    left:0px;
    background-color: #6B2B2B;
   
}



.our_menu{
    width:45%;
    height:300px;
    position:absolute;
    top:1800px;
    left:1%;
    border:1px solid white;
}

.menu_caption{
    width:90%;
    height:40px;
    text-align:right;
    font-family:Monotype Corsiva;
    color:#6B2B2B;
    font-size:36px;
    margin-top:20px;
    font-weight: bold;

}


.info3{
    width:90%;
    height:300px;
    margin:5%;
    text-align: right;
    font-size:22px;
    line-height: 35px;
    text-indent:15px;
    color:white;
    font-family: Garamond;
}


.menu_confectionery{
    width:48%;
    height:630px;
    position:absolute;
    top:1600px;
    left:50%;
    background-color: #181818;
}

.menu_image{width:44%;
float:left;
margin:3%;}


.menu_image>img{
    width:100%;
}




.block_icons{
    width:100%;
    height:230px;
    position:absolute;
    top:2300px;
    left:0px;
    background-color: #6B2B2B;
   
}



.block_icon{width:30%;
    height:200px;
    float:left;
    text-align: center;
    color:white;
    font-size:20px;
    font-weight:bold;
    font-family: Garamond;
    margin-left:3%;
}

.image_icon{
    width:30%;
    height:50%;
    border:1px solid white;
    margin-left:33%;
    margin-top:8%;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.image_icon:hover{
    transform: rotate(55deg);
    background-color: white;
}



.image_icon>img{
    width:70%;
    margin-top:10%;
}


.text_icon{
    width:100%;
    height:30%;
    color:white;
    text-align: center;
    margin-top:10%;
    font-size:22px;
    font-family:Monotype Corsiva;
}


.coffee_products{
    width:100%;
    height:350px;
    position:absolute;
    top:2600px;
    left:0px;
}



.coffee_caption{
    width:100%;
    height:50px;
    position:absolute;
    top:30px;
    left:0px;
    text-align: center;
    font-family: Monotype Corsiva;
    font-size:34px;
    color:#970808;
   
}

.coffee_images{
    width:100%;
    height:220px;
    position:absolute;
    top:100px;
    left:0px;
}


.coffee_image{
    width:21%;
    float:left;
    margin:2%;
}

.coffee_image:hover{
    box-shadow:1px 1px 5px white;
}

.coffee_image>img{
    width:100%;
}

